$menuFontColor: #FFFFFF;
$mainFontColor: #434a54;
$mainFontColorSub: #999999;
$buttonColor: #38aef0;

$menuWidth: 300px;
$headerHeight: 150px;
$formHeight: 50px;

$mainPadding: 0 40px;
$menuPadding: 0 20px;
$formMargin: 20px;
