$fontColor: #FFFFFF;
$mainFontColor: #434a54;
$mainFontColorSub: #999999;
$buttonColor: #38aef0;
$borderColor: #ddd;
$userColor: #d65f4c;
$cccColor: #ccc;

$menuWidth: 300px;
$headerHeight: 150px;

$menuPadding: 0 20px;
$mainPadding: 0 40px;
$formMargin: 20px;
$formHeight: 50px;
