.notice
  %p
    チャットグループを作成しました。
.left-content
  .header
    .header__name
      %p
        hanada
    .header__edit
      %i.fa.fa-pencil-square-o
      %i.fa.fa-cog
  .bottom
    .bottom-content
      .bottom-content__name
        %p
          グループ
      .bottom-content__latest
        %p
          最新のツイート
    .bottom-content
      .bottom-content__name
        %p
          グループ
      .bottom-content__latest
        %p
          最新のツイート

.main
  .header
    .header__group
      .header__group-title
        %p
          選択したグループ
      .header__group-member
        %p
          MEMBER: member1,member2
    .header__edit
      .header__edit-button
        %p
          EDIT
  .middle
    .middle-content
      .middle-content__name
        %p
          ユーザーの名前
      .middle-content__date
        %p
          2017/11/11 23:23:23
      .middle-content__message
        %p
          内容
    .middle-content
      .middle-content__name
        %p
          ユーザーの名前
      .middle-content__date
        %p
          2017/11/11 23:23:23
      .middle-content__message
        %p
          内容
  .footer
    .footer__content
      .footer__content--text
        %form{ action: "/",method: "post"}
          %input{ type:"text", name: "text", placeholder:"type message"}
          %label{id: "imageFile"}
            %i{id: "imageFile"}=fa_icon "image"
            %input{ type: :file, name: "imageFile", id: "image", style: "display: none"}
          %input{ type: :submit, value:"Send"}
