
.left-content
  .header
    .header__name
      %p
        hanada
    .header__edit
      %i.fa.fa-cog
      %i.fa.fa-pencil-square-o

  .bottom
    .bottom-content
      .bottom-content__name
        %p
          グループ
      .bottom-content__latest
        %p
          最新のツイート
    .bottom-content
      .bottom-content__name
        %p
          グループ
      .bottom-content__latest
        %p
          最新のツイート

.main
  .header
    .header__group
      .header__group-title
        %p
          選択したグループ
      .header__group-member
        %p
          MEMBER: member1,member2
    .header__edit
      .header__edit-button
        %p
          EDIT
