.header
  .header__left
    .header__left-content
      .header__left-content--name
        %p
          花田
      .header__left-content--cog
        %p
          歯
      .header__left-content--new
        %p
          鉛
  .header__right
    .header__right-content
      .header__right-content--name
        %p
          グループネーム
      .header__right-content--members
        %p
          グループメンバー
      .header__right-other
        .header__right-other--edit
          %p
            エディットボタン

.contents
  .contents__left
    .contents__left-list
      .contents__left-list--name
        %p
          groupname
      .contents__left-list--latest
        %p
          latest-message
    .content__left-list
      .content__left-list--name
        %p
          groupname
      .content__left-list--latest
        %p
          latest-message
  .content__right
    .content__right-list
      .content__right-list--name
        %p
          user-name
      .content__right-list--date
        %p
          message-date
      .content__right-list--message
        %p
          message
    .content__right-list
      .content__right-list--name
        %p
          user-name
      .content__right-list--date
        %p
          massage-date
      .content__right-list--message
        %p
          message

/ .footer
/   .footer__form
/    .footer__form--text
/    .footer__form--button



