!!!

.left-content
  .header
    .header__name
      %p
        hanada
    .header__edit
      %i.fa.fa-cog
      %i.fa.fa-pencil-square-o

  .bottom
    .bottom-content
      .bottom-content__name
      .bottom-content__latest
